---
const { url, text } = Astro.props
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="animate-fade-up font-semibold break-words"
>
  {text || url}
</a>

<style>
  a {
    transition:
      text-shadow 0.1s ease-out,
      box-shadow 0.1s ease-out;
  }

  a:hover {
    text-shadow:
    1px 1px 20px #fff;
  }
</style>
