---
import Layout from "@/layouts/Layout.astro"
import Video from "@/components/Video.astro"
import Intro from "@/components/Intro.astro"
import Bento from "@/components/Bento.astro"
import PreFooter from "@/components/PreFooter.astro"

const { i18n } = Astro.locals;
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  />

  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>
</Layout>
