---
import Layout from "@/layouts/Layout.astro";
import VoteTitle from "../VoteTitle.astro";
import HeroContainer from "../HeroContainer.astro";
import Footer from "../Footer.astro";
---

<Layout title="Votar" description="Votar">
  <h1>En construcción</h1>

  <main class="w-full max-w-[100vw] relative pt-48">
    <VoteTitle>
      <span>Mejor</span>
      <span>Serie de</span>
      <span>Contenido</span>
    </VoteTitle>

    <VoteTitle>
      <span>Streamer</span>
      <span>Revelación</span>
      <span>del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Evento</span>
      <span>Del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Mejor</span>
      <span>Miniserie de</span>
      <span>Contenido</span>
    </VoteTitle>

    <VoteTitle>
      <span>Streamer</span>
      <span>Promesa</span>
      <span>del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Roleplayer</span>
      <span>del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Mejor</span>
      <span>Cobertura</span>
      <span>Informativa</span>
    </VoteTitle>

    <VoteTitle>
      <span>Mejor</span>
      <span>Variety</span>
      <span>Streamer</span>
    </VoteTitle>

    <a
      href="https://twitter.com/PremiosESLAND/status/1744081978951925926"
      target="_blank"
      rel="noopener noreferrer"
      class="font-tomaso block text-center text-white/80 text-xs uppercase mt-8 mb-4 tracking-wide hover:text-yellow-300 transition"
      >Ver criterios utilizados para seleccionar a los 10 nominados para la
      categoría STREAMER DEL AÑO.</a
    >

    <VoteTitle>
      <span>Streamer</span>
      <span>IRL</span>
      <span>del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Enfado</span>
      <span>del Año</span>
    </VoteTitle>

    <VoteTitle>
      <span>Clip</span>
      <span>del Año</span>
    </VoteTitle>
  </main>
  <Footer />
</Layout>
