---
import Layout from "@/layouts/Layout.astro"
import Video from "@/components/Video.astro"
import Intro from "@/components/Intro.astro"
import Bento from "@/components/Bento.astro"
import PreFooter from "@/components/PreFooter.astro"
import Footer from "@/components/Footer.astro"

import { getI18N } from "../i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>

  <Footer />
</Layout>
