---
import BentoItem from "@/components/BentoItem.astro"
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <BentoItem
    class="col-span-10 lg:col-span-4"
    title="ANDORRA: EL CÉNIT DE LOS PREMIOS ESLAND"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('/mountain.webp')"
    >
    </div>

    <p slot="content" class="max-w-xl">
      Una nueva edición <strong>cargada de novedades</strong> y contenido, que
      empezará varias semanas antes de la ansiada gala. <strong
        >Directos especiales, colaboraciones, conciertos y mucho más</strong
      > en lo que será una auténtica fiesta dedicada a la creación de contenido.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="LA ALFOMBRA BLANCA"
    subtitle="16 de febrero de 2024"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-800 -z-10"
      style="background-image: url('/grefg.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Una gala de premios llena de <strong>contenido de primer nivel</strong> y
      <strong>muchas sorpresas</strong>, en la que se descubrirán los ganadores
      de esta tercera edición de los Premios ESLAND.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="LA GALA"
    subtitle="17 de febrero de 2024"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-900 -z-10"
      style="background-image: url('/pistas.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Este año, el momento de la alfombra azul será sustituido y mejorado,
      gracias a los increíbles paisajes andorranos, por una <strong
        >alfombra blanca en plena nieve</strong
      >, situada en las <strong>pistas de esquí de Andorra</strong>.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-4"
    title="DISFRUTA DEL REDDIT DE LA COMUNIDAD"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('/laptop.webp')"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Este año, el reddit no formará parte de las votaciones de los premios,
      pero sí que <strong>formará parte de la comunidad</strong>. El subreddit
      oficial de los Premios ESLAND está abierto para ti. Comparte tus clips,
      opiniones e <strong>interactúa con toda la comunidad</strong> del
      streaming hispanohablante.
    </p>
  </BentoItem>
</section>
