---
interface Props {
  id?: string
  class?: string
  target?: string
  url: string
}

const { url, target, class: className, ...rest } = Astro.props
---

<a
  href={url}
  target=`${target ?? '_blank'}`
  rel="noopener noreferrer"
  class:list={[
    "w-fit",
    "lg:text-2xl",
    "font-medium",
    "no-underline",
    "px-5",
    "py-3",
    "border",
    "border-solid",
    "border-white",
    "rounded-full",
    "uppercase",
    className,
  ]}
  {...rest}
>
  <slot />
</a>

<style>
  a {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  a:hover {
    box-shadow: 0 0 16px #fff8;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 22px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8),
      0 0 60px rgba(66, 220, 219, 0.8),
      0 0 80px rgba(66, 220, 219, 0.5),
      0 0 100px rgba(66, 220, 219, 0.5),
      0 0 140px rgba(66, 220, 219, 0.5),
      0 0 200px rgba(66, 220, 219, 0.5);
  }
</style>
