---
import "photoswipe/style.css";
const { edicion } = Astro.props;
// Ideally maxPhotos should be taken from the json in public/archivo-page/editions-info.json
const limit = Object.assign({ "1": { maxPhotos: 73 }, "2": { maxPhotos: 104}})[edicion] ?? {}
const { maxPhotos = 0 } = limit;
---

<div class='grid grid-cols-3 max-w-6xl gap-8 mx-auto py-20' id='gallery'>
  {
    Array.from({ length: maxPhotos }).map((_, i) => (
      <a
        class='rounded-xl transition-all relative aspect-square overflow-hidden group/item'
        href={`/archivo-page/${edicion}/gallery/img-${i + 1}.webp`}
        target='_blank'
        data-cropped='true'
        data-pswp-width='1152'
        data-pswp-height='767'
      >
        <img
          class='rounded-xl aspect-square object-cover group-hover/item:hidden'
          loading='lazy'
          src={`/archivo-page/${edicion}/gallery/img-${i + 1}-thumb.webp`}
          alt=''
        />
        <img
          class='absolute inset-0 rounded-xl aspect-square object-cover z-10 transition-all group/transparent-item group-hover/item:scale-115'
          loading='lazy'
          src={`/archivo-page/${edicion}/gallery/img-${i + 1}-thumb-nobg.webp`}
          alt=''
        />
        <img
          class='blur-lg absolute inset-0 transition group-hover/item:contrast-150 opacity-70 -z-10 object-cover'
          loading='lazy'
          src={`/archivo-page/${edicion}/gallery/img-${i + 1}-thumb.webp`}
          alt=''
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
