---
import Logo from "./Logo.astro";
import { getI18N } from "../i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header id="header-nav" class="fixed w-full z-50 top-0 px-6">
  <div
    class="grid [grid-template-columns:40px_repeat(2,1fr)] sm:grid-cols-3 max-w-7xl mx-auto py-1 items-center justify-between"
  >
    <a href="/" class="col-span-1">
      <Logo class="w-10 h-auto" />
    </a>
    <nav class="col-span-1 w-full flex gap-2 justify-end md:justify-center">
      <a class="hover:underline" href="/info">{i18n.HEADER_1}</a>
      <a class="hover:underline" href="/archivo">{i18n.HEADER_2}</a>
    </nav>
    <a
      href="#"
      class="ml-2 border text-xs text-center md:text-base rounded-full inline-block border-white px-2 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
    >
      {i18n.HEADER_BUTTON}
    </a>
  </div>
</header>
