---
import Logo from "@components/Logo.astro"
---

<header class="fixed w-screen py-4 z-50 backdrop-blur-sm bg-gradient-to-t from-transparent to-[#0f1536]/10  top-0 px-8 lg:px-0">
  <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
    <a href="/" class="col-span-1">
      <Logo class="w-12" />
    </a>
    <nav class="col-span-1 justify-self-center">
      <ul class="flex gap-4">
        <li>
          <a class="hover:underline" href="#">INFO</a>
        </li>
        <li>
          <a class="hover:underline" href="#">ARCHIVO</a>
        </li>
      </ul>
    </nav>
    <a
      href="#"
      class="border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
    >
      ESLAND: EL DOCUMENTAL
    </a>
  </div>
</header>
