<header class="fixed w-screen py-4 z-10 backdrop-blur-sm top-0 px-8 lg:px-0">
  <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
    <a href="/" class="col-span-1">
      <img src="../../public/images/logo.png" width="50" alt="Esland" />
    </a>
    <nav class="col-span-1 justify-self-center">
      <ul class="flex gap-4">
        <li>INFO</li>
        <li>ARCHIVO</li>
      </ul>
    </nav>
    <a href="#" class="border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300">
      ESLAND: EL DOCUMENTAL
    </a>
  </div>
</header>