---
interface Props {
  checkActive?: boolean
  href: string
  class?: string
}

const {
  href,
  class: className,
  checkActive = true,
  ...restOfProps
} = Astro.props


const currentPath = Astro.url.pathname
const isActive = currentPath === href && checkActive
---

<a
  href={href}
  class:list={[
    className,
    "border-b-2",
    isActive ? "border-white" : "border-transparent",
  ]}
  {...restOfProps}
>
  <slot />
</a>
