---
import Logo from "@/components/Logo.astro"
import Button from "@/components/Button.tsx"
import LanguageSelector from "@/components/LanguageSelector.astro"
import HeaderLink from "@/components/HeaderLink.astro"

import MenuIcon from "@/components/icons/Menu.astro"
import CloseIcon from "@/components/icons/Close.astro"

import { getI18N } from "@/i18n/index"
import { getLangFromUrl, useTranslations, useTranslatedPath, } from '../i18n/utils';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <HeaderLink
      checkActive={false}
      href={translatePath('/')}
      class="relative z-10"
      aria-label={i18n.HEADER.LOGO}
    >
      <Logo
        class="absolute w-10 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
      />
      <Logo class="w-10" />
    </HeaderLink>
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-[#151a36]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="text__glowing" href={translatePath('/vota/')}>
        {t('nav.vota')}
      </HeaderLink>
      <HeaderLink class="text__glowing" href={translatePath('/info/')}>
        {t('nav.info')}
      </HeaderLink>
      <HeaderLink class="text__glowing" href={translatePath('/archivo/')}>
        {t('nav.archivo')}
      </HeaderLink>
      <LanguageSelector />
      <Button
        className="md:py-2 md:ml-auto md:text-base lg:text-base"
        url="https://drive.google.com/file/d/1D7IvIqMyqAoG58fuk8bc0JvhAmrWBbOK/view"
      >
        {i18n.HEADER_BUTTON}
      </Button>
      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>
    <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
  </div>
</header>
