---
interface Props {
  img: string
}

const { img } = Astro.props
---

<div class='relative h-[90vh] w-full max-w-[100vw] bg-cover bg-no-repeat'>
  <div
    class='absolute inset-0 m-auto flex h-full w-full flex-col items-center justify-center'
  >
    <slot />
  </div>
  <img
    class='cp-v absolute -z-10 h-full w-full animate-fade object-cover object-center animate-duration-1000 animate-ease-in-out'
    src={img}
    alt='ESLAND cover'
  />
  <img
    class='absolute -z-40 animate-fade object-cover object-center blur-3xl animate-duration-1000 animate-ease-in-out'
    src={img}
    alt='ESLAND cover'
  />
</div>
