---
interface Props {
  img: string
}

const { img } = Astro.props
---

<div class="bg-no-repeat bg-cover relative h-[90vh] w-full max-w-[100vw]">
  <div
    class="absolute inset-0 m-auto w-full h-full flex justify-center flex-col items-center"
  >
    <slot />
  </div>
  <img
    class="absolute cp-v h-full w-full animate-fade object-cover object-center animate-duration-1000 animate-ease-in-out -z-10"
    src={img}
    alt="ESLAND cover"
  />
  <img
    class="absolute animate-fade object-cover object-center animate-duration-1000 animate-ease-in-out blur-3xl -z-40"
    src={img}
    alt="ESLAND cover"
  />
</div>
