<section class="flex flex-col items-center justify-center p-4">
  <h2 class="text-4xl font-bold mb-5">KIT DE PRENSA</h2>
  <div class="flex gap-6">
    <article class="flex flex-col justify-center items-center">
      <h3 class="text-2xl mb-2">Logotipo y trofeo</h3>
      <img src="/info-page/logo-y-trofeo.webp" class="aspect-video" />
      <a
        class="block text-center mt-2 border-2 uppercase border-white border-solid rounded-full py-2 px-10 m-auto hover:font-semibold hover:shadow-md hover:shadow-white/40 transition-all"
        href="https://premiosesland.com/ESLAND_MEDIA_KIT_2022.rar">Descargar</a
      >
    </article>
    <article class="flex flex-col justify-center items-center">
      <h3 class="text-2xl mb-2">Fondos de pantalla</h3>
      <img src="/info-page/fondos-de-pantalla.webp" class="aspect-video" />
      <a
        class="block text-center mt-2 border-2 uppercase border-white border-solid rounded-full py-2 px-10 m-auto hover:font-semibold hover:shadow-md hover:shadow-white/40 transition-all"
        href="https://premiosesland.com/ESLAND_FONDOS.zip">Descargar</a
      >
    </article>
    <article class="flex flex-col justify-center items-center">
      <h3 class="text-2xl mb-2">Notas de prensa</h3>
      <img src="/info-page/nota-de-prensa.webp" class="aspect-video" />
      <a
        href="https://premiosesland.com/Nota%20Prensa-ESLAND.pdf"
        class="block text-center mt-2 border-2 uppercase border-white border-solid rounded-full py-2 px-10 m-auto hover:font-semibold hover:shadow-md hover:shadow-white/40 transition-all"
        >Descargar</a
      >
    </article>
  </div>
</section>
