---
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
  class?: string
  href: string,
  locale?: string
}

const { currentLocale = "es" } = Astro
const { href, locale, class: className } = Astro.props
const path = getRelativeLocaleUrl(locale || currentLocale, href)
  .replace(/\/+$/, "");
---

<a href={path} class:list={[className]}>
  <slot />
</a>
