---
import { getRelativeLocaleUrl } from "@/i18n/config" // falla si no esta dentro del i18n folder

import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  locale?: string
}

const { currentLocale = "es" } = Astro
const { href, locale, class: className, ...rest } = Astro.props
---

<a href={getRelativeLocaleUrl(locale || currentLocale, href as string)} class:list={[className]} {...rest}>
  <slot />
</a>
