---
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
  class?: string
  href: string,
  locale?: string
}

const { currentLocale = "es" } = Astro
const { href, locale, class: className } = Astro.props
---

<a href={getRelativeLocaleUrl(locale || currentLocale, href)} class:list={[className]}>
  <slot />
</a>
