---
interface Props {
  title: string
}

const { title } = Astro.props
---

<div class="flex flex-col justify-center items-center">
  <span class="number text-7xl font-bold tabular-nums tracking-tighter">
    <slot />
  </span>
  <span class="uppercase opacity-70">{title}</span>
</div>
