---
import { CountUp } from "./CountUp"
---

<section class="max-w-6xl mx-auto py-20 px-20">
  <h2
    class="text-4xl lg:text-6xl font-tomaso text-center text-balance mb-10 lg:mb-20"
  >
    Los ESLAND en números
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-10">
    <div class="flex flex-col justify-center items-center">
      <span class="number text-7xl font-bold tabular-nums tracking-tighter">
        <CountUp client:visible initial={0} final={69.9} decimals={1} />M
      </span>
      <span class="uppercase opacity-70">de visualizaciones</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <span class="number text-7xl font-bold tabular-nums tracking-tighter">
        <CountUp client:visible initial={0} final={227} />
      </span>
      <span class="uppercase opacity-70">noticias en prensa</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <span class="number text-7xl font-bold tabular-nums tracking-tighter">
        <CountUp client:visible initial={0} final={3.2} decimals={1} />M€
      </span>
      <span class="uppercase opacity-70">en medios ganados</span>
    </div>
  </div>
</section>

<style>
  .number {
    text-shadow: 0 0 10px rgba(197, 225, 255, 0.5);
  }
</style>
