---
import { CountUp } from "./CountUp"
import NumerosItem from "./NumerosItem.astro"

const { i18n } = Astro.props
---

<section class="max-w-6xl mx-auto py-20 px-20">
  <h2
    class="text-4xl lg:text-6xl font-tomaso text-center text-balance mb-10 lg:mb-20"
  >
    {i18n.ARCHIVO.COUNTER_TITLE}
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-10">
    <NumerosItem title={i18n.ARCHIVO.COUNTER_VIEWS}>
      <CountUp client:visible initial={0} final={69.9} decimals={1} />M
    </NumerosItem>
    <NumerosItem title={i18n.ARCHIVO.COUNTER_NEWS}>
      <CountUp client:visible initial={0} final={227} />
    </NumerosItem>
    <NumerosItem title={i18n.ARCHIVO.COUNTER_MEDIA}>
      <CountUp client:visible initial={0} final={3.2} decimals={1} />M€
    </NumerosItem>
  </div>
</section>

<style>
  .number {
    text-shadow: 0 0 10px rgba(197, 225, 255, 0.5);
  }
</style>
