---
import { CountUp } from '@/components/CountUp'
import NumerosItem from '@/components/NumerosItem.astro'

const { i18n } = Astro.props
---

<section class='mx-auto max-w-6xl px-20 py-20'>
  <h2
    class='mb-10 text-balance text-center font-tomaso text-4xl lg:mb-20 lg:text-6xl'
  >
    {i18n.ARCHIVO.COUNTER_TITLE}
  </h2>
  <div class='grid grid-cols-1 gap-y-10 lg:grid-cols-3'>
    <NumerosItem title={i18n.ARCHIVO.COUNTER_VIEWS}>
      <CountUp client:visible initial={0} final={69.9} decimals={1} />M
    </NumerosItem>
    <NumerosItem title={i18n.ARCHIVO.COUNTER_NEWS}>
      <CountUp client:visible initial={0} final={227} />
    </NumerosItem>
    <NumerosItem title={i18n.ARCHIVO.COUNTER_MEDIA}>
      <CountUp client:visible initial={0} final={3.2} decimals={1} />M€
    </NumerosItem>
  </div>
</section>

<style>
  .number {
    text-shadow: 0 0 10px rgba(197, 225, 255, 0.5);
  }
</style>
