---
import { getI18N } from "@/i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h3
    class="uppercase text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto"
  >
    {i18n.PREFOOTER_VIDEO_TITLE}
  </h3>

  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="nYPVr2IYTtk"
    videotitle={
      i18n.PREFOOTER_VIDEO_TITLE
    }></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube"
</script>
