<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h3
    class="uppercase text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto"
  >
    Guía de la 3ª Edición de los premios ESLAND
  </h3>

  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="nYPVr2IYTtk"
    videotitle="Guía de la 3ª Edición de los premios ESLAND"></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube"
</script>
