<section class="w-full max-w-[450px] lg:mx-auto mx-4 py-10">
    <h2 class="lg:text-4xl text-2xl text-center uppercase mt-10 mb-5 font-jura tracking-widest">PALMARÉS</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-white-500 dark:text-white-400">
        <thead class="text-xs uppercase text-blue-400">
          <tr>
            <th scope="col" class="px-6 py-3"> CATEGORÍA</th>
            <th scope="col" class="px-6 py-3"> GANADORES</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b bg-gradient-to-r from-sky-600 via-sky-800 hover:shadow-2xl hover:shadow-blue/80">
            <th scope="row" class="px-6 py-4 font-medium text-white-900 dark:text-white ">
              STREAMER DEL AÑO
            </th>
            <td class="px-6 py-4">IBAI</td>
          </tr>          
          <tr>
            <th scope="row" class="px-6 py-4 font-medium text-white-900 dark:text-white">
              SERIE DEL CONTENIDO DEL AÑO
            </th>
            <td class="px-6 py-4">TORTILLALAND</td>
          </tr>
          <tr class="border-b bg-gradient-to-r from-sky-600 via-sky-800">
            <th scope="row" class="px-6 py-4 font-medium text-white-900 dark:text-white">
              STREAMER REVELACIÓN DEL AÑO
            </th>
            <td class="px-6 py-4">ELXOKAS</td>
          </tr>           
        </tbody>
      </table>
    </div>
  </section>