---
import { getI18N } from '@/i18n/'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class='relative h-[80vh] w-full md:aspect-video md:h-full'>
  <img
    class='absolute left-0 right-0 top-10 z-10 m-auto w-[1000px]'
    alt={i18n.VIDEO_ALT}
    src='/logo-home.svg'
  />
  <video
    class='cp-v h-full w-full animate-fade object-cover object-top animate-duration-1000 animate-ease-in-out'
    src='/video.webm'
    autoplay
    loop
    muted></video>
  <video
    class='absolute -bottom-48 -z-40 blur-3xl'
    src='/video.webm'
    autoplay
    loop
    muted></video>
</div>
