---
import { getI18N } from "@/i18n/"
import Button from "@/components/Button.tsx"
import Logo from "@/components/Logo.astro"
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <section
      class="absolute z-10 animate-fade-up flex justify-center items-center gap-8 flex-col"
    >
      <h1
        class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl font-tomaso"
      >
        <span>E</span>
        <span>S</span>
        <span>L</span>
        <Logo
          class="h-9 w-auto md:h-[3.75rem] lg:h-24 scale-150"
          aria-label="A"
        />
        <span>N</span>
        <span>D</span>
      </h1>

      <p
        class="subtitle text-xl lg:text-2xl text-center text-wrap font-jura px-4"
      >
        {i18n.HERO_SUBTITLE}
      </p>

      <Button
        target="_self"
        className="text-blue-950 animate-fade-up bg-white"
        url={translatePath('/vota/')}
      >
        {i18n.VIDEO_BUTTON}
      </Button>
    </section>

    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="metadata"
      class="video hidden cp-v h-full w-full object-cover object-top animate-duration-[2s] animate-ease-in-out"
    >
      <source src="/video.webm" type="video/webm" />
      <source src="/video.mp4" type="video/mp4" />
    </video>
  </div>
  <video
    class="video hidden absolute -bottom-48 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    preload="metadata"
  >
    <source src="/video.webm" type="video/webm" />
    <source src="/video.mp4" type="video/mp4" />
  </video>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const firstVideo = document.querySelector("#main-video") as HTMLMediaElement

    if (firstVideo) {
      const videos = document.querySelectorAll(
        ".video"
      ) as NodeListOf<HTMLMediaElement>

      if (firstVideo.readyState >= 3) {
        videos.forEach((videoEl) => {
          videoEl.classList.remove("hidden")
          videoEl.classList.add("animate-fade")
        })

        return
      }

      firstVideo.addEventListener("loadeddata", () => {
        videos.forEach((videoEl) => {
          videoEl.classList.remove("hidden")
          videoEl.classList.add("animate-fade")
        })
      })
    }
  })
</script>

<style>
  @font-face {
    font-family: "Jura";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/jura.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .subtitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
</style>
