<div class="w-full relative">
  <img
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
    alt="Esland - Premios a la comunidad hispanohablante de Streaming"
    src="/logo-home.svg"
  />
  <video
    class="w-full h-screen object-cover object-top animate-ease-in-out animate-fade animate-duration-1000"
    src="/video.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  ></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/video.mp4"
    autoplay
    loop
    muted></video>
</div>
