---
import LogoTitle from "./LogoTitle.astro"
---

<h2 class="relative h-48">
  <div class="absolute top-0 inset-0 mx-auto flex justify-center items-center">
    <LogoTitle class="w-80 absolute" />
    <div class="flex flex-col font-tomaso uppercase tracking-[5px] text-center">
      <slot />
    </div>
  </div>
</h2>
