---
const { url, text } = Astro.props
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="animate-fade-up font-semibold hover:text-shadow-effect transition-[text-shadow,box-shadow] delay-100"
>
  {text || url}
</a>
