---
import "@fontsource-variable/onest";
import '@/assets/styles/global.css';
import { ViewTransitions } from "astro:transitions";
import tomaso from '@/assets/fonts/tomaso.woff2';
interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
const { currentLocale = "es" } = Astro;
---
<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="nofollow, noindex" />
    <title>{title}</title>
    <link
      rel="preload"
      href={tomaso}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <slot name="preload" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
