---
import Header from "../components/Header.astro"

interface Props {
  description: string
  title: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #111e31;
  }
</style>
