---
import Header from '@components/Header.astro';
import '@fontsource-variable/onest';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    background: #151a36;
  }

  p {
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.4;
    margin-bottom: 1em;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.5px;
  }

  p strong {
    color: white;
    font-weight: 700;
  }
</style>
